In [23]:
# Add the Pandas dependency.
import pandas as pd

In [24]:
# Files to load
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

In [25]:
# Read the school data file and store it in a Pandas DataFrame.
school_data_df = pd.read_csv(school_data_to_load)
school_data_df

,Unnamed: 0,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,3,Richard Scott,M,12th,Huang High School,67,58
4,4,4,Bonnie Ray,F,9th,Huang High School,97,84
...,...,...,...,...,...,...,...,...
39165,39165,39165,Donna Howard,F,12th,Thomas High School,99,90
39166,39166,39166,Dawn Bell,F,10th,Thomas High School,95,70
39167,39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84
39168,39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90
39169,39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75

In [26]:
# Read the student data file and store it in a Pandas DataFrame.
student_data_df = pd.read_csv(student_data_to_load)
student_data_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84

In [27]:
# Determine if there are any missing values in the school data.
school_data_df.count()

Unnamed: 0       39170
Student ID       39170
student_name     39170
gender           39170
grade            39170
school_name      39170
reading_score    39170
math_score       39170
dtype: int64

In [28]:
# Determine if there are any missing values in the school data.
school_data_df.isnull()

,Unnamed: 0,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...
39165,False,False,False,False,False,False,False,False
39166,False,False,False,False,False,False,False,False
39167,False,False,False,False,False,False,False,False
39168,False,False,False,False,False,False,False,False
39169,False,False,False,False,False,False,False,False

In [29]:
# Determine if there are any missing values in the student data.
student_data_df.isnull()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...
39165,False,False,False,False,False,False,False
39166,False,False,False,False,False,False,False
39167,False,False,False,False,False,False,False
39168,False,False,False,False,False,False,False
39169,False,False,False,False,False,False,False

In [30]:
# Determine if there are any missing values in the student data.
student_data_df.isnull().sum()

Student ID       0
student_name     0
gender           0
grade            0
school_name      0
reading_score    0
math_score       0
dtype: int64

In [31]:
# Determine if there are not any missing values in the school data.
school_data_df.notnull()

,Unnamed: 0,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,True,True,True,True,True,True,True,True
1,True,True,True,True,True,True,True,True
2,True,True,True,True,True,True,True,True
3,True,True,True,True,True,True,True,True
4,True,True,True,True,True,True,True,True
...,...,...,...,...,...,...,...,...
39165,True,True,True,True,True,True,True,True
39166,True,True,True,True,True,True,True,True
39167,True,True,True,True,True,True,True,True
39168,True,True,True,True,True,True,True,True
39169,True,True,True,True,True,True,True,True

In [32]:
# Determine if there are not any missing values in the student data.
student_data_df.notnull().sum()

Student ID       39170
student_name     39170
gender           39170
grade            39170
school_name      39170
reading_score    39170
math_score       39170
dtype: int64

In [33]:
# Determine data types for the school DataFrame.
school_data_df.dtypes

Unnamed: 0        int64
Student ID        int64
student_name     object
gender           object
grade            object
school_name      object
reading_score     int64
math_score        int64
dtype: object

In [34]:
# Determine data types for the student DataFrame.
student_data_df.dtypes

Student ID        int64
student_name     object
gender           object
grade            object
school_name      object
reading_score     int64
math_score        int64
dtype: object

In [35]:
# Add each prefix and suffix to remove to a list.
prefixes_suffixes = ["Dr. ", "Mr. ","Ms. ", "Mrs. ", "Miss ", " MD", " DDS", " DVM", " PhD"]

In [36]:
# Iterate through the words in the "prefixes_suffixes" list and replace them with an empty space, "".
for word in prefixes_suffixes:
    student_data_df["student_name"] = student_data_df["student_name"].str.replace(word,"")

C:\Users\Randy\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:3: FutureWarning: The default value of regex will change from True to False in a future version.
  This is separate from the ipykernel package so we can avoid doing imports until

In [37]:
print(school_data_df)

       Unnamed: 0  Student ID     student_name gender grade  \
0               0           0     Paul Bradley      M   9th
1               1           1     Victor Smith      M  12th
2               2           2  Kevin Rodriguez      M  12th
3               3           3    Richard Scott      M  12th
4               4           4       Bonnie Ray      F   9th
...           ...         ...              ...    ...   ...
39165       39165       39165     Donna Howard      F  12th
39166       39166       39166        Dawn Bell      F  10th
39167       39167       39167   Rebecca Tanner      F   9th
39168       39168       39168     Desiree Kidd      F  10th
39169       39169       39169  Carolyn Jackson      F  11th

              school_name  reading_score  math_score
0       Huang High School             66          79
1       Huang High School             94          61
2       Huang High School             90          60
3       Huang High School             67          58
4       Huang High School             97          84
...                   ...            ...         ...
39165  Thomas High School             99          90
39166  Thomas High School             95          70
39167  Thomas High School             73          84
39168  Thomas High School             99          90
39169  Thomas High School             95          75

[39170 rows x 8 columns]

In [38]:
# Combine the data into a single dataset.
school_data_complete_df = pd.merge(student_data_df, school_data_df, on=["school_name", "school_name"])
school_data_complete_df.head()

MemoryError: Unable to allocate 996. MiB for an array with shape (130551930,) and data type int64

In [39]:
student_data_to_load = "Resources/clean_students_complete.csv"

In [40]:
# Read the student data file and store it in a Pandas DataFrame.
student_data_df = pd.read_csv(student_data_to_load)
student_data_df.head()

FileNotFoundError: [Errno 2] No such file or directory: 'Resources/clean_students_complete.csv'

In [41]:
# Combine the data into a single dataset.
school_data_complete_df = pd.merge(student_data_df, school_data_df, on=["school_name", "school_name"])
school_data_complete_df.head()

MemoryError: Unable to allocate 996. MiB for an array with shape (130551930,) and data type int64

In [42]:
# Get the total number of students.
student_count = school_data_complete_df.count()
student_count

NameError: name 'school_data_complete_df' is not defined